body {
  text-align: center;
  background-image: linear-gradient(
    rgba(2, 46, 22, 0.827), 
    rgba(13, 86, 45, 0.324)),
    url(../assets/images/forest.jpg);
  background-position: center;
  background-size: 1600px 1250px;
  animation: backInLeft;
  animation-duration: 2s;
}

div{
  margin-top: 30px ;
}

#pet-name {
  font-family: 'Baloo 2', cursive;
  margin-top: 12px;
  color: #e7b589;
  text-shadow: 8px 4px 18px black;
  font-size: 48px;
  background-size: 45px 100px;
}

#panda {
  height: 245px;
  margin-top: 15px;
}

#need {
  font-family: 'Baloo 2', cursive;
  font-size: 35px;
  color:  #f7d6bc;
  text-shadow: 8px 4px 12px black;
}

#timer {
  font-family: 'Baloo 2', cursive;
  font-size: 45px;
  color:  #f7d6bc;
  text-shadow: 8px 4px 12px black;
  margin: 60px;

}

#mood-status {
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  font-weight: 500px;
  color: #edbd99;
  text-shadow: 8px 3px 15px black;
  margin: 0;
  
}

.progress{
  margin: 10px auto;
  width : 75%;
  height: 20px;

}
.progress-bar {
  background-color: rgba(219, 189, 114, 0.832);
  margin: 0 ;
  color: black;
  
}

#care-btns{
  display: flex;
  justify-content: space-evenly;
}

#start, #feed, #attention, #entertain, #rest, #reset {
  font-family: 'Baloo 2', cursive;
  background-color: black;
  border-color: white;
}

#instructions {
  font-family: 'Baloo 2', cursive;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 50px;
}

#start:hover, #feed:hover, #attention:hover, #entertain:hover, #rest:hover, #reset:hover {
  background-color: white;
  color: black;
  border-color: black;
}

#instructions:hover{
  background-color: black;
  color: white;
  border-color: white;
}



