body {
  text-align: center;
  background-image: linear-gradient(
    rgba(5, 79, 38, 0.713), 
    rgba(13, 86, 45, 0.454)),
    url(../assets/images/forest.jpg);
  background-position: center;
  background-size: 1600px 1250px;
  animation: backInLeft;
  animation-duration: 2s;
}


div{
  margin-top: 30px ;
}

#pet-name {
  margin-top: 12px;
  color: #fccba1;
  text-shadow: 8px 4px 8px black;
  font-size: 48px;
  -webkit-text-stroke: .3px black;
  background-size: 45px 100px;
  animation: flipInX;
  animation-duration: 1s;
}

#panda {
  height: 245px;
  margin-top: 20px;
}

#need {
  font-size: 35px;
  color:  #f7d6bc;
  text-shadow: 8px 4px 8px black;
  -webkit-text-stroke: .5px black;
}

#timer {
  font-size: 45px;
  color:  #f7d6bc;
  text-shadow: 8px 4px 8px black;
  margin: 60px;
  -webkit-text-stroke: .5px black;

}

#mood-status {
  font-size: 30px;
  font-weight: 500px;
  color: #f7d6bc;
  text-shadow: 8px 3px 8px black;
  margin: 0;
  -webkit-text-stroke: .5px black;
}


.progress{
  margin-top: 10px;
}
.progress-bar {
  margin: 0;
}

#care-btns{
  display: flex;
  justify-content: space-evenly;
}

#start, #feed, #attention, #entertain, #rest, #reset {
  background-color: black;
  border-color: white;
}

#instructions {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 50px;

}



