body {
  text-align: center;
  background-color: #73A580;
  background-image: url(../assets/images/forest.png);
  background-position: center;
  background-size: cover;
  
}

div{
  margin: 30px;
}

#pet-name {
  margin-top: 20px;
  color: #DBF2FF;
  text-shadow: 8px 4px 8px black;
  font-size: 45px;
}

#panda {
  height: 245px;
  margin-top: 55px;
}


#timer {
  font-size: 45px;
}

.progress{
  margin-top: 10px;
}
.progress-bar {
  margin: 0;
}

#care-btns{
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
}